## player code

In [1]:
class Player:
    def __init__(self,name,category,team,credit):
        self.name = name
        self.category = category
        self.team = team
        self.credit = credit
        
    def __str__(self):
        return self.name
    
    def __repr__(self):
        return self.name

## combination code

In [2]:
def getCombinationList(arr, n, r):
    l = []
    data = [0]*r
    combinationUtil(arr, data, 0, n - 1, 0, r,l)
    return l

def combinationUtil(arr, data, start, end, index, r,l):
    if (index == r):
        l.append([data[j] for j in range(r)])
        return

    i = start
    while (i <= end and end - i + 1 >= r - index):
        data[index] = arr[i]
        combinationUtil(arr, data, i + 1, end, index + 1, r,l)
        i += 1

## utility methods

## read input file

In [3]:
import pandas as pd
df = pd.read_csv("team.csv")

In [4]:
print(df)

    No        Name  Type  Team  Credit
0    1   N Counter  BOWL     1     8.0
1    2    I Kishan    WK     1     8.5
2    3   J Neesham   ALL     1     8.5
3    4    J Bumrah  BOWL     1     9.5
4    5  C Sakariya  BOWL     2     8.5
5    6    R Sharma   BAT     1    10.0
6    7     E lewis   BAT     2     9.5
7    8    M Rahman  BOWL     2     9.0
8    9   Y Jaiswal   BAT     2     9.0
9   10     S yadav   BAT     1     9.0
10  11    D Miller   BAT     2     8.5
11  12   R Tewatia   ALL     2     8.5
12  13     J Yadav  BOWL     1     8.0
13  14   K Pollard   ALL     1     9.0
14  15    H Pandya   BAT     1     8.5
15  16      S Dube   ALL     2     8.5
16  17    S Samson    WK     2    10.0
17  18     T Boult  BOWL     1     9.0
18  19    S Tiwary   BAT     1     8.0
19  20    S Goapal  BOWL     2     8.5
20  21     K Yadav  BOWL     2     7.5
21  22   G Philips   BAT     2     8.5

## actual logic

In [5]:
lp = [Player(df.iloc[i, 1], df.iloc[i, 2], df.iloc[i, 3], df.iloc[i, 4]) for i in range(len(df))]
r = 11
n = len(lp)
cm = getCombinationList(lp, n, r)
cm = [tuple(e) for e in cm]

In [6]:
print(lp)
len(cm) # expected count 705432

[N Counter, I Kishan, J Neesham, J Bumrah, C Sakariya, R Sharma, E lewis, M Rahman, Y Jaiswal, S yadav, D Miller, R Tewatia, J Yadav, K Pollard, H Pandya, S Dube, S Samson, T Boult, S Tiwary, S Goapal, K Yadav, G Philips]

705432

## filter based on team count

In [7]:
invalid_teams = []
for team in cm:
    team1_count =0
    team2_count =0
    for player in team:
        if player.team == 1:
            team1_count+=1
        if player.team == 2:
            team2_count+=1
    if team1_count > 7 or team2_count > 7:
        invalid_teams.append(team)

In [8]:
s = set(invalid_teams)
valid_teams = [x for x in cm if x not in s]
print(len(valid_teams)) # expected count is 644688

644688

## filter based on category

In [9]:
invalid_teams_cat_based = []
for team in valid_teams:
    wk_count =0
    bat_count =0
    bowl_count=0
    all_count=0
    for player in team:
        if player.category == 'WK':
            wk_count+=1
        if player.category == 'BOWL':
            bowl_count+=1
        if player.category == 'BAT':
            bat_count+=1
        if player.category == 'ALL':
            all_count+=1
    if wk_count < 1 or wk_count > 4:
        invalid_teams_cat_based.append(team)
    elif bat_count < 3 or bat_count > 6:
        invalid_teams_cat_based.append(team)
    elif all_count < 1 or all_count > 4:
        invalid_teams_cat_based.append(team)
    elif bowl_count < 3 or bowl_count > 6:
        invalid_teams_cat_based.append(team)

In [10]:
print(len(invalid_teams_cat_based))

289296

In [11]:
s = set(invalid_teams_cat_based)
valid_teams_cat_based = [x for x in valid_teams if x not in s]
print(len(valid_teams_cat_based))# expected count is 355392

355392

## filter based on credits

In [12]:
invalid_teams_credit_based = []
for team in valid_teams_cat_based:
    credit_count =0
    for player in team:
        credit_count+=player.credit
    if credit_count > 100:
        invalid_teams_credit_based.append(team)

In [13]:
s = set(invalid_teams_credit_based)
valid_teams_credit_based = [x for x in valid_teams_cat_based if x not in s]
print(len(valid_teams_credit_based))# expected count is 355000

355000

## Validation

In [18]:
dream_team = tuple(p for p in lp[:11])
print(dream_team)
if dream_team in valid_teams_credit_based:
    print("yes")
else:
    print("no")

(N Counter, I Kishan, J Neesham, J Bumrah, C Sakariya, R Sharma, E lewis, M Rahman, Y Jaiswal, S yadav, D Miller)
yes