In [2]:
def printCombination(arr, n, r):
    data = [0]*r
    combinationUtil(arr, data, 0, n - 1, 0, r)

def combinationUtil(arr, data, start, end, index, r):
    if (index == r):
        for j in range(r):
            print(data[j], end=" ")
        print()
        return

    i = start
    while (i <= end and end - i + 1 >= r - index):
        data[index] = arr[i]
        combinationUtil(arr, data, i + 1, end, index + 1, r)
        i += 1

In [3]:
arr = [1, 2, 3, 4, 5]
r = 3
n = len(arr)
printCombination(arr, n, r)

1 2 3
1 2 4
1 2 5
1 3 4
1 3 5
1 4 5
2 3 4
2 3 5
2 4 5
3 4 5

In [4]:
# read input file
import pandas as pd
pd.read_csv("team.csv")

    No        Name  Type  Team  Credit
0    1   N Counter  BOWL     1     8.0
1    2    I Kishan    WK     1     8.5
2    3   J Neesham   ALL     1     8.5
3    4    J Bumrah  BOWL     1     9.5
4    5  C Sakariya  BOWL     2     8.5
5    6    R Sharma   BAT     1    10.0
6    7     E lewis   BAT     2     9.5
7    8    M Rahman  BOWL     2     9.0
8    9   Y Jaiswal   BAT     2     9.0
9   10     S yadav   BAT     1     9.0
10  11    D Miller   BAT     2     8.5
11  12   R Tewatia   ALL     2     8.5
12  13     J Yadav  BOWL     1     8.0
13  14   K Pollard   ALL     1     9.0
14  15    H Pandya   BAT     1     8.5
15  16      S Dube   ALL     2     8.5
16  17    S Samson    WK     2    10.0
17  18     T Boult  BOWL     1     9.0
18  19    S Tiwary   BAT     1     8.0
19  20    S Goapal  BOWL     2     8.5
20  21     K Yadav  BOWL     2     7.5
21  22   G Philips   BAT     2     8.5

In [6]:
class Player:
    def __init__(self,name,category,credit):
        self.name = name
        self.category = category
        self.credit = credit